<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.31.1" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.31.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="6.7.0.4267" targetFramework="net452" developmentDependency="true" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>